[submodule "training/weird_octo"]
	path = training/weird_octo
	url = https://github.com/memmelma/weird_octo.git
[submodule "training/weird_stable-baselines3"]
	path = training/weird_stable-baselines3
	url = https://github.com/memmelma/weird_stable-baselines3.git
[submodule "convert/weird_rlds_dataset_builder"]
	path = convert/weird_rlds_dataset_builder
	url = https://github.com/memmelma/weird_rlds_dataset_builder.git
[submodule "convert/weird_rlds_dataset_mod"]
	path = convert/weird_rlds_dataset_mod
	url = https://github.com/memmelma/weird_rlds_dataset_mod.git
