[submodule "training/octo"]
	path = training/octo
	url = https://github.com/memmelma/weird_octo.git
[submodule "training/stable-baselines3"]
	path = training/stable-baselines3
	url = https://github.com/memmelma/weird_stable-baselines3.git
[submodule "convert/rlds_dataset_builder"]
	path = convert/rlds_dataset_builder
	url = https://github.com/memmelma/weird_rlds_dataset_builder.git
